/* no changes necessary */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The font-size and font-family were added here because they are used
on the majority of the website unless otherwise specified by the element,
class or id selector */
body {
    background-color: #d9dcd6;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* In HTML <div class"header"> was replaced with <header> to establish the webiste header are that
inludes the <h1> title element and the navigation bar. No longer needed the ".header" for the selector, 
the header element can be used instead  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* the h1 is unique and no longer needs .header infront of it */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* In HTML <div> was replaced with <nav> to designate this portion of the header code
in the webpage's navigation bar*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* the ul in the nav is unique and only the element selector is needed */
/* ul {
    list-style-type: none; 
} */

/* the il in the nav is unique and only the element selector is needed. The
list-style-type:none in ul will still work if it is removed from ul and  added 
to the li selector. */
li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* the anchor has unique color and text-decoration that shouldn't be altered */
a {
    color: #ffffff;
    text-decoration: none;
}

/* the p selector was removed because the font-size: 16px was added to the
body selector */

/* the CSS is now organized by type of Selectors. 1st Elements, 2nd class 3rd ID. 
the .hero, .float-right and .float-left classes are now below the element selectors. */

/*Our next section of the website is below the navigation bar/main picture and
on the left side of the webpage. In HTML the <div class="content"> is now <main> to
designate the main portion of the website. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
}

/* within the main element, the 3 div's that created three sections with unquie class
names were changed to the element <section>, all given the same class 
<section class="link-info"> and their unquie ids were not changed. 
Each section has the same CSS perameters for <h2> so those were also consolidated into one 
CSS selector. The h2 needs section designated before it in CSS (section h2) so there
is no confusion with the <h2> used in the footer of the wesbite.  */
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The portion of the website that is located on the right hand side was changed from 
<div class="benefits"> to <aside> and the class was removed.
the font-family: information was removed because it is now located in the body selector. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;   
}
/* the <h3> elements within each section of the aside block were given unique selector names
but all shared the same code. They are now all combined into the one CSS selector 'h3' */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* the last section of the webpage was designated by <div class="footer"> and the element was
just changed to <footer>. In CSS all that needed to be changed was to have the period removed
that designated the footer as a class because it is now an element. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
 }
 
 /* This h2 is unqiue and so it should have the footer element before it, to designate the
 location on the website */
 footer h2 {
     font-size: 20px;
 }
/* nothing was altered here other than location in CSS. In the HTML the <div> became <figure> 
but the class designation of hero stayed the same*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* the float left is in the <main> block. 
There were originally two .float-left with the same code, so they were combined into a 
single .float-left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* the float left is in the <main> block of the website. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* the .link-info is in the <main> block. 
There are 3 sections within the <main> block that all have unique
class names but the CSS code for all 3 is the same. The element was changed from 
<div> to <section> and the classes were all changed to <section class=".link-info"
In CSS now the 3 unique class names can all be consoladated into 1 selector.*/
.link-info{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* the .link-info img is in the <main> block.  
With the 3 sections of the main block there are 3 img that all have the same CSS but
again had to be written seperately into CSS because their section class names were
unique. Now that all of the section class names are ".link-info" a single CSS selector of
".link-info img" can be used with the original CSS code. */
.link-info img{
max-height: 200px;
}

/* the .side-info class is located in the <aside> block 
all 3 of the sections within the <aside> block all had unique
class names but contained the same CSS code. They have been
consolidated into one .side-info selector with the same code.*/
.side-info {
    margin-bottom: 32px;
    color: #ffffff;
}

/* the .side-info img designation is located in the <aside> block.
All of the img CSS for this section also had unique class names but
contained the same CSS code. Because the sections now all have the same 
class designation, img is added (.side-info img) with the original CSS code."
/* ".side-info" */
.side-info img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* #seo is located in the <header> block.
Because the change of color for this portion of <h1> was unique to the rest of
the html and CSS I went from a class to an id that is why it is now designated
with a # and is at the bottom of our list because it is the only id that required
CSS coding. */
#seo {
    color: #d9dcd6;
}